.card{
    max-width: 10em;
    background-color: gray;
    color: white;
}

.card img{
    max-width: 100%;
    padding: 0em;
    border-radius: 0.7em;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
  }

.btn-primary {
    --bs-btn-bg: white;
    --bs-btn-border-color: gray;
    color: black;
    font-style: oblique;
}
